node_modules
.next
.vscode
yarn.lock
package-lock.json
cryptoposts_experimental.json
posts_experimental.json
shortform_experimental.json
# brave-payments-verification.txt
Roadmap.md 
checklist.md
gpg.asc